.hero-container {
  background-color: #071b44;
  display: flex;
  flex-direction: column;
}

.hero-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.house-image {
  /* max-width: 30%; */
}

.igloo-image {
  width: 60vh;
}
